<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Links CSS-->
        {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
    <link rel="stylesheet" href="{{ asset('fontawesome/css/all.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/default/cookie.css') }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300;400&display=swap" rel="stylesheet">

        {% endblock %}<!--END Links CSS-->

        <!-- Links JS with defer allows JS downloading before DOM content loading-->
        {% block javascripts %}
        <script src="{{ asset('js/bootstrap.bundle.min.js') }}" defer></script>
        <script src="{{ asset('js/scripts.js') }}" defer></script>
        <script src="{{ asset('fontawesome/js/all.js') }}" defer></script>
        {% endblock %}<!-- END Links JS-->
    </head>
    <body>

        {{ render(controller('App\\Controller\\DefaultController::navbar')) }}


        {% block body %}
        {% endblock %}
        <!-- Div COOKIES-->
        {% if app.request.cookies.get('accepted') != 1 %}
            <div class="row">
                <div class="col-md-4 col-sm-12 button-fixed">
                    <div class="p-3 pb-4 bg-custom text-white">
                        <div class="row">
                            <div class="col-4">
                                <img src="{{ asset ('/images/default/cat_cookies.png')}}">
                            </div>
                            <div class="col-6 d-flex align-items-center">
                                <h3 class="cookie-title">La Nîmes'alerie</h3>
                            </div>
                            <div class="col-2 text-center">
                                <i class="fas fa-times"></i>
                            </div>
                        </div>
                        <p id="cookie-text">La Nîmes'alerie utilise des cookies sur votre appareil pour améliorer la navigation sur le site, analyser son utilisation et contribuer à nos efforts de marketing.  <br>Vous pouvez accepter les cookies en cliquant sur « J’accepte ».
                        </p>
                        <a href="{{path('cookie_authorize')}}">
                            <button id="btn-cookie" type="button" class="btn text-white w-100">J'accepte</button>
                        </a>
                    </div>
                </div>
            </div><!-- End Div COOKIES-->
        {% endif %}


        {% include 'parts/footer.html.twig' %}<!-- FOOTER include on all pages -->
    </body>
</html>
