<section id="topheader">
    <!-- Background Black -->

    <div class="container d-flex flex-row justify-content-between">
        <ul class="header-links">
            <li><a href="#"><i class="fa-solid fa-location-dot fa-2x pe-2"></i> 30, rue des arènes - 30 000 Nîmes</a>
            </li>
            <li><a href="#"><i class="fa fa-clock fa-2x pe-2"></i>Ouvert aujourd'hui de 10h à 19h</a></li>
        </ul>
        <ul class="header-links">
            <li>
                <a href="https://fr-fr.facebook.com/"><i class="text-white fab fa-facebook fa-2x pe-2"></i></a>
                <a href="https://www.instagram.com/?hl=fr"><i class="text-white fab fa-instagram fa-2x pe-2"></i></a>
                <a href="https://www.pinterest.fr/"><i class="text-white fab fa-pinterest fa-2x"></i></a>
            </li>
            <li><a href="#"><i class="fa-solid fa-phone fa-2x pe-2"></i>04 01 45 34 30</a></li>
        </ul>
    </div>
</section>
<!--------------------------------------------------- SECTION MAIN HEADER (LOGO,SEARCHBOX,ACCOUNT & CART) AND NAVIGATION --------------------------------------------------->
<section id="header" class="lightgrey sticky-top ">
    <!--  MAIN HEADER -->
    <header>
        <div class="container">
            <div class="row py-1">
                <!-- LOGO -->
                <div id="logo" class="col-lg-3 col-sm-6 my-2">
                    <a href="{{ path('default') }}"><img src="{{ asset ('/images/default/logo.png') }}"
                                                         alt="logo la Nîmes'alerie"/></a>
                </div>
                <!-- SEARCHBOX, ACCOUNT & CART -->
                <div class="col-lg-9 col-sm-6 align-items-center">
                    <div class="d-flex justify-content-end">
                        <!-- icon searchbox -->
                        <div class="search-box">
                            <button class="btn-search"><i class="fas fa-search"></i></button>
                            <input type="text" class="input-search" placeholder="Rechercher...">
                        </div>
                        <!-- icon Account -->
                        <div class="dropdown-account my-3">

                            <a class="header-icon" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                {% if app.user %}
                                    <i class=" fas fa-user-check  fa-lg d-flex justify-content-center mx-5 danger"></i>
                                {% else %}
                                    <i class="fas fa-user fa-lg d-flex justify-content-center mx-5"></i>
                                {% endif %}
                                <p class="icon text-center">Mon compte</p>
                            </a>
                            <ul class="dropdown-account-content">
                                {% if app.user %}
                                    <li><a class="dropdown-item" href="{{ path('app_logout') }}">Me déconnecter</a></li>
                                {% else %}
                                    <li><a class="dropdown-item" href="{{ path('app_login') }}">Me connecter</a></li>
                                {% endif %}
                                <li><a class="dropdown-item" href="{{ path('account') }}">Mon compte</a></li>
                                <li><a class="dropdown-item" href="#">Mes achats</a></li>
                            </ul>

                        </div>
                        <!-- icon cart -->
                        <div class="my-3">
                            {% if is_granted ('ROLE_ADMIN') %}
                                <a href="{{ path('admin') }}" class="header-icon">
                                    <i class="fa-solid fa-gauge-high fa-lg d-flex justify-content-center mx-5"></i>
                                    <p class="icon text-center">Dashboard</p>
                                </a>
                            {% else %}
                                <a href="{{ path('cart_display') }}" class="header-icon">
                                    <i class="fas fa-shopping-basket fa-lg d-flex justify-content-center mx-5"></i>
                                    <p class="icon text-center">Mon Panier</p>
                                </a>
                            {% endif %}
                        </div>
                        {# {% if is_granted ('ROLE_ADMIN') %}
                        <div class="my-3">
                            <a href="{{ path('admin') }}" class="header-icon">
                                <i class="fa-solid fa-gauge-high fa-lg d-flex justify-content-center mx-5"></i>
                                <p class="icon text-center">Dashboard</p>
                            </a>
                        </div>
                        <div class="my-3">
                            <a href="{{ path('cart_display') }}" class="header-icon">
                                <i class="fas fa-shopping-basket fa-lg d-flex justify-content-center mx-5"></i>
                                <p class="icon text-center">Mon Panier</p>
                            </a>
                        </div>
                        {% else %}
                            <div class="my-3">
                                <a href="{{ path('cart_display') }}" class="header-icon">
                                    <i class="fas fa-shopping-basket fa-lg d-flex justify-content-center mx-5"></i>
                                    <p class="icon text-center">Mon Panier</p>
                                </a>
                            </div>
                        {% endif %} #}
                    </div>
                </div>
            </div>

            <!--  NAVBAR -->
            <!-- ============= COMPONENT ============== -->
            <nav class="navbar navbar-expand-lg navbar-light lightgrey">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-center" id="main_nav">
                        <ul class="navbar-nav justify-content-between w-75">
                            <!-- Icon Homepage -->
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('default') }}"><i class="fas fa-home active "></i></a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="" data-bs-toggle="dropdown">Animaux</a>
                                <ul class="dropdown-menu">


                                    {% for category in categories %}

                                        <li class="has-megasubmenu">
                                            <a class="dropdown-item" href="{{ path('product_store', {'idParent':category.id, 'currentPage':1, 'nbResult':2}) }}">{{ category.name }}</a>

                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="{{ path('brand') }}">Marques</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ path('services') }}">La Nîmes'alerie</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ path('contact') }}">Contact</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Promos</a></li>
                        </ul>
                    </div> <!-- navbar-collapse.// -->
                </div> <!-- container.// -->
            </nav>
            <!-- ============= COMPONENT END// ============== -->
        </div>
    </header>
</section>